*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./img/fondo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}


header{
    display: flex;
    justify-content: end;
    margin-top: 30px;

}

header img {
    width: 200px;
}

header .logo{
    width: 50%;
    margin-left: 30px;
    display: flex;
    justify-content: left;
}

nav{
    background: rgb(2,54,110);
    background: linear-gradient(90deg, rgba(2,54,110,1) 0%, rgba(128,174,73,1) 100%);
    width: 50%;
    height: 50px;
    display: flex;
    justify-content:center;
    border-radius:  30px 0 0 30px;
}

.navbar-menu{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: left;
    margin-left: 10px;
    padding: 15px;
}

ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

li a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight:100;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.diferente{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 23px;
    margin-left: 40px;
    background-color:  rgb(16, 156, 221) ;
    border-radius: 30px;
}

.container{
    width: 100%;
    height: 450px;
    margin-top: 40px;
    display: flex;

}

.container-firstpart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tittle{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    color:rgb(2,54,110);
    
}

#ganarBeca{
    background-color: rgb(42, 151, 32);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border:none;
    color: azure;
    
}

.tittle2{
    font-family: 'Roboto', sans-serif;
    font-size: 125px;
    font-weight: 900;
    color:rgb(2,54,110);
}


.container-secundpart{
    width: 100%;
    height: 100%;
}



.text-principal{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 205.5%;
    letter-spacing: -0.05em;
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 100%;
    height: 750px;
    color: rgb(2,54,110);
}

.section-one{
    display: flex;
    padding: 20px;

}



.spacewhite{
    width: 100%;
    height: 300px;
}

.text-one{
    width: 100%;
    height: 300px;
}



.image-left{
    background-image: url(./img/fondo-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 720px;

}

.section-two{
    display: flex;
    width: 100%;
    flex-direction: column;


}

.text-mid{
    width: 750px;
    font-size: 30px;
}

.space{
    display: flex;
    width: 100%;
    height: 100px;
}

.cambridge{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container--cambridge{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    height: 150px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(2,0,36,1) 52%, rgba(0,212,255,1) 100%);
    border-radius: 80px 80px 80px 80px;
    cursor: pointer;
    transition: all 2s;

}

.container--cambridge p{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 150px;
    border-radius: 80px 80px 80px 80px;
    font-size: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: all 2s;
}

.container--cambridge:hover{

    background: rgb(0,149,109);
background: linear-gradient(90deg, rgba(0,149,109,1) 5%, rgba(0,212,255,1) 50%, rgba(103,175,62,1) 98%);

}

.container--cambridge p:hover{
    color: black;
}

.table{
    display: flex;
    width: 100%;
    height: 300px;
    gap: 10px;
    border-radius: none;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: rgb(37, 37, 116);
    padding: 10px;
    

}

.card h3{
    font-family: 'Roboto' sans-serif;
    font-weight: 800;
    color: white;
    font-size: 30px;
}

.card p{
    color: white;

}



